$color-button:#61185b;
.product-button {
    display: block;
    background-color: $color-button;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;
}

.product-button:hover {
    background-color: $color-button;
}
